<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>16250107413-c3o01db79cu1ld3jd8s480fg9dfclu1j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.16250107413-c3o01db79cu1ld3jd8s480fg9dfclu1j</string>
	<key>API_KEY</key>
	<string>AIzaSyAy7QYN8oJLGHgc-cwvJKke3WpW0Qmnp1A</string>
	<key>GCM_SENDER_ID</key>
	<string>16250107413</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.machinehealth.app</string>
	<key>PROJECT_ID</key>
	<string>health-test-dceb5</string>
	<key>STORAGE_BUCKET</key>
	<string>health-test-dceb5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:16250107413:ios:0c9e6afbb92461a6ed001c</string>
</dict>
</plist>